# aaiDevRogue.template
record( aai, "$(P)$(R)$(NAME)_RBV" )
{
	field( DESC, "$(DESC=?)" )
	field( DTYP, "RogueAAI" )
	field( INP,  "@B$(B) L$(L) $(PATH)" )
	field( NELM, "$(NELM)" )
	field( FTVL, "$(FTVL)" )
	field( PINI, "$(PINI=YES)" )
	field( PRIO, "$(PRIO=LOW)" )
	field( SCAN, "$(SCAN=)" )
	field( DISV, "$(DISV=1)" )
	field( SDIS, "$(SDIS=)" )
	field( TSE,  "$(TSE=0)" )
	info( autosaveFields, "" )
}
alias( "$(P)$(R)$(NAME)_RBV", "$(P)$(R)$(PYPV)_RBV" )
