# aaoDevRogue.template
record( aao, "$(P)$(R)$(NAME)" )
{
	field( DESC, "$(DESC=?)" )
	field( DTYP, "RogueAAO" )
	field( OUT,  "@B$(B) L$(L) $(PATH)" )
        field( NELM, "$(NELM)" )
        field( FTVL, "$(FTVL)" )
	field( PINI, "$(PINI=NO)" )
	field( DISV, "$(DISV=1)" )
	field( SDIS, "$(SDIS=)" )
	field( HOPR, "$(HOPR=0)" )
	field( LOPR, "$(LOPR=0)" )
	info( autosaveFields, "$(SAVE=VAL)" )
}
alias( "$(P)$(R)$(NAME)", "$(P)$(R)$(PYPV)" )
